$sidePadding: 100px;

body {
  margin: 0;
  padding: 0;
}

.timeline {
  position: relative;
  padding: 0 $sidePadding;
  box-sizing: border-box;
}

.missions-container {
  position: relative;
  height: 200px;
}

.mission {
  position: absolute;
  top: 0;
  bottom: 0;

  &.inactive {
    opacity: 0.5;
  }

  &-header {
    position: relative;
    background: #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    vertical-align: center;
    text-align: center;
    transform: translateX(-50%);
    z-index: 5;
  }

  &-line {
    position: absolute;
    width: 1px;
    border-left-width: 1px;
    border-left-style: dashed;
    left: 0;
    top: 0;
    bottom: 0;
  }
}

.chart {
  &-container {
    position: relative;
  }

  &-labels {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    .precipitation {
      color: skyblue;
    }

    .temperature {
      color: orange;
    }

    .ndvi {
      color: grey;
    }

    span {
      position: absolute;
      top: 0;
      right: 100%;
      transform: translateY(-50%);
    }
  }

  &-point-hover {
    opacity: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    cursor: pointer;

    &:after, &:before {
      content: '';
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:before {
      width: 3px;
      height: 60%;
    }

    &:after {
      width: 60%;
      height: 3px;
    }
  }
}

.seasons {
  &-container {
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0px -100px;

    .gradient {
      position: absolute;
      height: 100%;
    }

    .season {
      //position: absolute;
      //top: 0;
      //left: 0;
      display: flex;
      height: 50px;
      text-align: center;
      align-items: center;
      justify-content: center;
      border-left: 1px solid #000;
      box-sizing: border-box;
      z-index: 5;

      &.static {
        position: relative;
        width: 100px;
      }

      &:nth-child(1) {
        //background: rgba(50, 0, 50, 0.5);
      }

      &:nth-child(2) {
        //background: rgba(0, 250, 0, 0.5);
      }

      &:nth-child(3) {
        //background: rgba(250, 260, 0, 0.5);
      }

      &:nth-child(4) {
        //background: rgba(250, 0, 260, 0.5);
        flex: 1;
      }

      &.last {
        //background: rgba(100, 40, 0, 0.5);
        left: auto;
        right: 0;
      }
    }
  }

  &-middle {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
}
